# Selection of Data and Reshaping the Data

#### 1. Remove all columns you do not need for the analysis (All done in Python, of course. No Excel acrobatics.). We are interested in two sets of variables. Select the following variables and remove all others:
#### a) Binge Drinking: Binge drinking prevalence among adults aged >= 18 years, Crude Prevalence in Percent. We would like to obtain this variable for the overall population, as well separately for females and males.
#### b) Poverty: Poverty, Crude Prevalence in Percent. We only want the overall poverty prevalence to make things a bit easier.

In [414]:
import numpy as np
import pandas as pd

In [415]:
disease = pd.read_csv('U.S._Chronic_Disease_Indicators__CDI_.CSV',low_memory=False)

In [416]:
disease.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2010,2010,OR,Oregon,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,NaN,Number,...,41,CVD,CVD1_4,NMBR,RACE,AIAN,NaN,NaN,NaN,NaN
1,2019,2019,AZ,Arizona,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,4,ALC,ALC1_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
2,2019,2019,OH,Ohio,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,39,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
3,2019,2019,US,United States,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,59,ALC,ALC1_1,CRDPREV,RACE,ASN,NaN,NaN,NaN,NaN
4,2015,2015,VI,Virgin Islands,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,78,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN

In [417]:
data_all1 = disease.query("Question == 'Binge drinking prevalence among adults aged >= 18 years' or Question =='Poverty'")
data_all2 = data_all1.query("StratificationCategory1 == 'Gender' or StratificationCategory1 == 'Overall' ")
data_all3 = data_all2.query("DataValueType == 'Crude Prevalence'")
condition = (data_all3['Question'] == 'Poverty') & (data_all3['StratificationCategory1'] == 'Gender')
data_allf = data_all3[~condition]

In [418]:
data_r = data_allf[['YearStart','YearEnd','LocationAbbr','LocationDesc','Question','DataValue',
          'DataValueType','StratificationCategory1','Stratification1']]
data_r

,YearStart,YearEnd,LocationAbbr,LocationDesc,Question,DataValue,DataValueType,StratificationCategory1,Stratification1
1590,2012,2012,NY,New York,Binge drinking prevalence among adults aged >=...,17.0,Crude Prevalence,Overall,Overall
81821,2017,2017,NE,Nebraska,Binge drinking prevalence among adults aged >=...,27.3,Crude Prevalence,Gender,Male
315775,2013,2013,PA,Pennsylvania,Binge drinking prevalence among adults aged >=...,10.7,Crude Prevalence,Gender,Female
483466,2017,2017,CA,California,Poverty,13.3,Crude Prevalence,Overall,Overall
487909,2017,2017,SD,South Dakota,Poverty,13,Crude Prevalence,Overall,Overall
...,...,...,...,...,...,...,...,...,...
1182112,2013,2013,WY,Wyoming,Binge drinking prevalence among adults aged >=...,10.7,Crude Prevalence,Gender,Female
1182153,2019,2019,WY,Wyoming,Binge drinking prevalence among adults aged >=...,17.7,Crude Prevalence,Overall,Overall
1183168,2020,2020,WY,Wyoming,Binge drinking prevalence among adults aged >=...,12.0,Crude Prevalence,Gender,Female
1183773,2020,2020,WY,Wyoming,Binge drinking prevalence among adults aged >=...,16.4,Crude Prevalence,Overall,Overall
1185472,2020,2020,WY,Wyoming,Binge drinking prevalence among adults aged >=...,20.5,Crude Prevalence,Gender,Male

#### 2. Convert the dataset to a wide format data set using the commands from the pandas package.

In [419]:
data_wide = data_r.pivot_table(index=['LocationAbbr','LocationDesc','Question','Stratification1'], 
                               columns='YearStart', values='DataValue',aggfunc='mean')
data_fi = data_wide.reset_index()
data_fi

YearStart,LocationAbbr,LocationDesc,Question,Stratification1,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,AK,Alaska,Binge drinking prevalence among adults aged >=...,Female,NaN,15.6,12.7,14.8,14.8,16.4,15.1,13.8,11.6,11.1,13.2,14.3
1,AK,Alaska,Binge drinking prevalence among adults aged >=...,Male,NaN,26.0,20.5,23.8,25.3,23.9,21.0,24.9,19.8,20.3,22.1,20.5
2,AK,Alaska,Binge drinking prevalence among adults aged >=...,Overall,NaN,20.8,16.8,19.5,20.2,20.3,18.2,19.7,15.9,15.9,17.9,17.5
3,AK,Alaska,Poverty,Overall,9.9,10.5,10.1,9.3,11.2,10.3,9.9,11.1,10.9,10.1,NaN,NaN
4,AL,Alabama,Binge drinking prevalence among adults aged >=...,Female,NaN,7.9,7.0,6.5,6.8,7.5,8.8,8.0,7.9,8.9,8.7,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,WV,West Virginia,Poverty,Overall,18.1,18.6,17.8,18.5,18.3,17.9,17.9,19.1,17.8,16.0,NaN,NaN
214,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Female,NaN,11.0,10.8,10.7,10.3,10.5,12.5,13.1,10.0,12.9,12.0,12.5
215,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Male,NaN,26.7,23.2,22.3,23.8,21.3,24.2,22.8,24.6,22.4,20.5,19.3
216,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Overall,NaN,18.9,17.0,16.6,17.2,16.0,18.4,18.0,17.4,17.7,16.4,15.9
217,WY,Wyoming,Poverty,Overall,11.2,11.3,12.6,10.9,11.2,11.1,11.3,11.3,11.1,10.1,NaN,NaN

#### 3. Rename the variables to follow the format below.

In [420]:
data_m = data_fi.melt(id_vars=['LocationAbbr', 'LocationDesc', 'Question', 'Stratification1'], 
                      var_name='year', value_name='value')
data_m

,LocationAbbr,LocationDesc,Question,Stratification1,year,value
0,AK,Alaska,Binge drinking prevalence among adults aged >=...,Female,2010,NaN
1,AK,Alaska,Binge drinking prevalence among adults aged >=...,Male,2010,NaN
2,AK,Alaska,Binge drinking prevalence among adults aged >=...,Overall,2010,NaN
3,AK,Alaska,Poverty,Overall,2010,9.9
4,AL,Alabama,Binge drinking prevalence among adults aged >=...,Female,2010,NaN
...,...,...,...,...,...,...
2611,WV,West Virginia,Poverty,Overall,2021,NaN
2612,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Female,2021,12.5
2613,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Male,2021,19.3
2614,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Overall,2021,15.9
2615,WY,Wyoming,Poverty,Overall,2021,NaN

In [421]:
new = data_m.pivot_table(index=['LocationAbbr', 'LocationDesc', 'year','Question'], 
                         columns='Stratification1', values='value').reset_index()

In [422]:
final = new.pivot_table(index=['LocationAbbr', 'LocationDesc','year'],
                columns='Question',values=['Overall', 'Male', 'Female'],aggfunc='first').reset_index()
final.columns = [f'{col[0]}_{col[1]}' if col[1] else col[0] for col in final.columns]
final

,LocationAbbr,LocationDesc,year,Female_Binge drinking prevalence among adults aged >= 18 years,Male_Binge drinking prevalence among adults aged >= 18 years,Overall_Binge drinking prevalence among adults aged >= 18 years,Overall_Poverty
0,AK,Alaska,2010,NaN,NaN,NaN,9.9
1,AK,Alaska,2011,15.6,26.0,20.8,10.5
2,AK,Alaska,2012,12.7,20.5,16.8,10.1
3,AK,Alaska,2013,14.8,23.8,19.5,9.3
4,AK,Alaska,2014,14.8,25.3,20.2,11.2
...,...,...,...,...,...,...,...
643,WY,Wyoming,2017,13.1,22.8,18.0,11.3
644,WY,Wyoming,2018,10.0,24.6,17.4,11.1
645,WY,Wyoming,2019,12.9,22.4,17.7,10.1
646,WY,Wyoming,2020,12.0,20.5,16.4,NaN
647,WY,Wyoming,2021,12.5,19.3,15.9,NaN

In [423]:
final_a = final.rename(columns={'Male_Binge drinking prevalence among adults aged >= 18 years': 'binge_male',
                              'Female_Binge drinking prevalence among adults aged >= 18 years': 'binge_female',
                              'Overall_Binge drinking prevalence among adults aged >= 18 years':'binge_all',
                              'Overall_Poverty': 'poverty',
                              'LocationAbbr':'stateabb','LocationDesc':'state'}).reset_index()
final_a

     index stateabb    state  year binge_female binge_male binge_all poverty
0        0       AK   Alaska  2010          NaN        NaN       NaN     9.9
1        1       AK   Alaska  2011         15.6       26.0      20.8    10.5
2        2       AK   Alaska  2012         12.7       20.5      16.8    10.1
3        3       AK   Alaska  2013         14.8       23.8      19.5     9.3
4        4       AK   Alaska  2014         14.8       25.3      20.2    11.2
..     ...      ...      ...   ...          ...        ...       ...     ...
643    643       WY  Wyoming  2017         13.1       22.8      18.0    11.3
644    644       WY  Wyoming  2018         10.0       24.6      17.4    11.1
645    645       WY  Wyoming  2019         12.9       22.4      17.7    10.1
646    646       WY  Wyoming  2020         12.0       20.5      16.4     NaN
647    647       WY  Wyoming  2021         12.5       19.3      15.9     NaN

[648 rows x 8 columns]

In [424]:
final_v = final_a[['stateabb', 'state', 'year', 'binge_all', 'binge_male', 'binge_female', 'poverty']]
final_v.describe()
final_v

    stateabb    state  year binge_all binge_male binge_female poverty
0         AK   Alaska  2010       NaN        NaN          NaN     9.9
1         AK   Alaska  2011      20.8       26.0         15.6    10.5
2         AK   Alaska  2012      16.8       20.5         12.7    10.1
3         AK   Alaska  2013      19.5       23.8         14.8     9.3
4         AK   Alaska  2014      20.2       25.3         14.8    11.2
..       ...      ...   ...       ...        ...          ...     ...
643       WY  Wyoming  2017      18.0       22.8         13.1    11.3
644       WY  Wyoming  2018      17.4       24.6         10.0    11.1
645       WY  Wyoming  2019      17.7       22.4         12.9    10.1
646       WY  Wyoming  2020      16.4       20.5         12.0     NaN
647       WY  Wyoming  2021      15.9       19.3         12.5     NaN

[648 rows x 7 columns]

In [425]:
final_v.shape

(648, 7)

In [426]:
final_v.to_csv('binge_clean.csv')

#### 4. Produce a table that shows the overall, female, and male binge drinking prevalences across U.S. States in the most recent year of data for the Top 10 binge drinking states (i.e. the ones with the highest prevalence in the overall population). Use the relevant pandas commands to select the right variables, sort the data, and filter the data frame.

In [427]:
final_s = final_v.sort_values(by='year', ascending=False)
final_s['binge_all'] = final_s['binge_all'].astype(float)

In [428]:
final_s = final_s.query("year == '2021'")

In [429]:
table = final_s.nlargest(10,'binge_all',keep='all')
table_f = table[['state','year','binge_all','binge_male','binge_female']]
table_f

Empty DataFrame
Columns: [state, year, binge_all, binge_male, binge_female]
Index: []

#### 5. Calculate the average annual growth rates (in percent) of overall binge drinking across states for the years the data is available. One way to get these growth rates, is to group the data by state (groupby) and use the first() and last() commands to get the first and last non-NA percentage followed by dividing the calculated percentage increase by the number of years data is available for. Alternatively, you could use the pct_change function to help you out. Provide a table of the 5 states with the largest increases and the 5 states with the largest decreases in binge drinking prevalence over the time period.

In [430]:
final_drop = final_v[['stateabb','state','year','binge_all']]
final_drop

    stateabb    state  year binge_all
0         AK   Alaska  2010       NaN
1         AK   Alaska  2011      20.8
2         AK   Alaska  2012      16.8
3         AK   Alaska  2013      19.5
4         AK   Alaska  2014      20.2
..       ...      ...   ...       ...
643       WY  Wyoming  2017      18.0
644       WY  Wyoming  2018      17.4
645       WY  Wyoming  2019      17.7
646       WY  Wyoming  2020      16.4
647       WY  Wyoming  2021      15.9

[648 rows x 4 columns]

In [431]:
final_d = final_drop.dropna(axis=0)
final_d

    stateabb    state  year binge_all
1         AK   Alaska  2011      20.8
2         AK   Alaska  2012      16.8
3         AK   Alaska  2013      19.5
4         AK   Alaska  2014      20.2
5         AK   Alaska  2015      20.3
..       ...      ...   ...       ...
643       WY  Wyoming  2017      18.0
644       WY  Wyoming  2018      17.4
645       WY  Wyoming  2019      17.7
646       WY  Wyoming  2020      16.4
647       WY  Wyoming  2021      15.9

[594 rows x 4 columns]

In [432]:
final_g = final_drop.groupby('state').agg(first_year = ('year','first'),
                                         last_year = ('year','last'),
                                         binge_first = ('binge_all','first'),
                                          binge_last = ('binge_all','last'))
final_g['growthrate'] = ((final_g['binge_last'] - final_g['binge_first'])/(final_g['last_year'] - final_g['first_year']))*100
final_g

                      first_year  last_year binge_first binge_last growthrate
state
Alabama                     2010       2021        13.7       12.5 -10.909091
Alaska                      2010       2021        20.8       17.5      -30.0
Arizona                     2010       2021        17.6       15.9 -15.454545
Arkansas                    2010       2021        14.1       12.7 -12.727273
California                  2010       2021        18.6       15.0 -32.727273
Colorado                    2010       2021        20.1       18.7 -12.727273
Connecticut                 2010       2021        17.9       13.6 -39.090909
Delaware                    2010       2021        20.3       12.9 -67.272727
District of Columbia        2010       2021        25.0       22.5 -22.727273
Florida                     2010       2020        17.1       13.5      -36.0
Georgia                     2010       2021        16.6       14.5 -19.090909
Guam                        2011       2021        18.3       17.1      -12.0
Hawaii                      2010       2021        21.5       16.6 -44.545455
Idaho                       2010       2021        16.6       14.0 -23.636364
Illinois                    2010       2021        23.0       14.8 -74.545455
Indiana                     2010       2021        17.8       15.4 -21.818182
Iowa                        2010       2021        23.1       20.1 -27.272727
Kansas                      2010       2021        17.0       17.7   6.363636
Kentucky                    2010       2021        16.1       12.6 -31.818182
Louisiana                   2010       2021        16.1       17.2       10.0
Maine                       2010       2021        17.3       15.3 -18.181818
Maryland                    2010       2021        18.0       13.0 -45.454545
Massachusetts               2010       2021        20.6       16.2      -40.0
Michigan                    2010       2021        19.7       16.1 -32.727273
Minnesota                   2010       2021        22.1       17.9 -38.181818
Mississippi                 2010       2021        14.2       12.5 -15.454545
Missouri                    2010       2021        19.2       16.6 -23.636364
Montana                     2010       2021        20.8       20.5  -2.727273
Nebraska                    2010       2021        22.7       19.5 -29.090909
Nevada                      2010       2021        18.6       12.7 -53.636364
New Hampshire               2010       2021        18.7       14.6 -37.272727
New Jersey                  2010       2021        18.2       14.6 -32.727273
New Mexico                  2010       2021        16.4       13.2 -29.090909
New York                    2010       2021        19.6       14.9 -42.727273
North Carolina              2010       2021        15.2       15.3   0.909091
North Dakota                2010       2021        23.8       20.8 -27.272727
Ohio                        2010       2021        20.1       16.8      -30.0
Oklahoma                    2010       2021        16.5       11.9 -41.818182
Oregon                      2010       2021        16.4       15.8  -5.454545
Pennsylvania                2010       2021        18.3       15.3 -27.272727
Puerto Rico                 2010       2021        15.3       12.2 -28.181818
Rhode Island                2010       2021        19.6       17.3 -20.909091
South Carolina              2010       2021        15.4       15.0  -3.636364
South Dakota                2010       2021        22.1       19.6 -22.727273
Tennessee                   2010       2021        10.0       14.2  38.181818
Texas                       2010       2021        18.9       16.4 -22.727273
United States               2010       2021        18.3       15.4 -26.363636
Utah                        2010       2021        12.0       11.7  -2.727273
Vermont                     2010       2021        18.5       17.0 -13.636364
Virgin Islands              2016       2021        15.2       12.6      -52.0
Virginia                    2010       2021        17.9       15.4 -22.727273
Washington                  2010       2021        17.8       15.2 -23.636364
West Virginia               2010       2021        10.1       11.6  13.636364
Wisconsin                   2010       2021        24.3       21.9 -21.818182
Wyoming                     2010       2021        18.9       15.9 -27.272727

In [433]:
largest = final_g.sort_values(by='growthrate', ascending=False)
smallest = final_g.sort_values(by='growthrate', ascending=True)
print("5 state with largest increase: ")
print(largest.head(5)['growthrate'])
print("5 state with largest decrease: ")
print(smallest.head(5)['growthrate'])

5 state with largest increase:
state
Tennessee         38.181818
West Virginia     13.636364
Louisiana              10.0
Kansas             6.363636
North Carolina     0.909091
Name: growthrate, dtype: object
5 state with largest decrease:
state
Illinois         -74.545455
Delaware         -67.272727
Nevada           -53.636364
Virgin Islands        -52.0
Maryland         -45.454545
Name: growthrate, dtype: object